@font-face {
  font-family: gotham;
  /* Гарнитура шрифта */
  src: url(../fonts/GothaProReg.otf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: gothambold;
  /* Гарнитура шрифта */
  src: url(../fonts/GothaProBol.otf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: gothamnarbold;
  /* Гарнитура шрифта */
  src: url(../fonts/GothaProNarBol.otf);
  /* Путь к файлу со шрифтом */
}
.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 15px;
}
.col-lg-6 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-lg-4 {
  padding-left: 15px;
  padding-right: 15px;
}
.telegram:before {
  content: "";
  background-image: url(../images/telegram.svg);
  position: absolute;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  left: -25px;
  top: -5px;
}
.logined:before {
  content: "";
  background-image: url(../images/logged.svg);
  position: absolute;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  left: -25px;
  top: -5px;
}
.button {
  padding: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 200px;
  background-color: #6759ff;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  color: #f5f7ff;
  font-size: 12px;
  font-family: gothambold;
  line-height: 1.55;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
}
.button:hover {
  background-color: #093DC7;
  color: #ffffff!important;
}
.animate-form-top {
  -moz-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
  opacity: 0;
  transform: translateY(30%);
}
.anim-topmenu {
  -moz-transition: all 1200ms ease;
  -o-transition: all 1200ms ease;
  -webkit-transition: all 1200ms ease;
  transition: all 1200ms ease;
  opacity: 0;
  transform: translateY(-100%);
}
.anim-left,
.invest-anim,
.content-anim,
.count-anim,
.anim-left-ico {
  -moz-transition: all 1200ms ease;
  -o-transition: all 1200ms ease;
  -webkit-transition: all 1200ms ease;
  transition: all 1200ms ease;
  opacity: 0;
  transform: translateX(-10%);
}
.anim-right-btn,
.anim-right-btn-ico {
  -moz-transition: all 900ms ease;
  -o-transition: all 900ms ease;
  -webkit-transition: all 900ms ease;
  transition: all 900ms ease;
  opacity: 0;
  transform: translateX(5%);
}
.anim-question {
  -moz-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
  opacity: 0;
  transform: translateY(70%);
}
.anim-menu-foot {
  -moz-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
  opacity: 0;
  transform: translateY(70%);
}
.none-margin {
  margin: 0;
}
.main-block {
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, #050352, #01001f);
  padding-top: 25px;
}
.menu {
  border-top: 1px solid #0a128f;
  border-bottom: 1px solid #0a128f;
}
.menu-container {
  max-width: 1755px;
}
.menu-main {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
}
.menu-main .main-logo {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-main .main-logo a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f5f7ff;
  font-size: 16px;
  font-family: gothambold;
  line-height: 1.55;
  font-weight: 700;
  letter-spacing: 2px;
  border-width: 0px;
  border-radius: 0px;
  background-position: center center;
  border-color: transparent;
  border-style: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.menu-main .box-trend {
  display: flex;
  align-items: center;
  margin-left: 95px;
}
.menu-main .box-trend p {
  margin-left: 5px;
  margin-right: 5px;
  color: #f5f7ff;
  font-size: 12px;
  font-family: gothambold;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.menu-main .box-trend strong {
  padding-left: 5px;
  color: #03d6af;
}
.menu-main-box {
  display: flex;
  align-items: center;
}
.menu-main-box a {
  color: #f5f7ff;
  font-size: 12px;
  font-family: gothambold;
  line-height: 1.55;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 40px;
  margin-right: 30px;
  position: relative;
  padding-left: 20px;
}
.menu-main-box a:hover {
  color: #093dc7;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.menu-main .main-blockleft {
  justify-content: space-around;
}
.menu-main .main-blockright {
  justify-content: space-evenly;
}
.invesment {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.invesment h2 {
  margin-top: 50px;
  color: #f5f7ff;
  font-size: 40px;
  font-family: gothambold;
  line-height: 1.55;
  font-weight: 600;
  letter-spacing: 0.5px;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.invesment-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1160px;
}
.invesment-content-verticaltext {
  color: #f5f7ff;
  font-size: 40px;
  font-family: 'Gotham';
  line-height: 1.55;
  font-weight: 600;
  letter-spacing: 0.5px;
  transform: rotate(270deg);
  margin: 0;
  margin-right: -77px;
  margin-left: -145px;
  margin-top: -15px;
}
.invesment-content-card {
  background-color: #fff;
  display: flex;
  width: 360px;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
}
.invesment-content-card-title {
  font-family: gothambold;
  padding-left: 20px;
  font-size: 15px;
  margin-top: 10px;
  line-height: 1.55;
  font-weight: 600;
}
.invesment-content-card .logo-title {
  display: flex;
  margin-top: 40px;
  padding-left: 30px;
}
.invesment-content-card .logo-title-box {
  width: 50px;
  height: 50px;
}
.invesment-content-card .logo-title-box img {
  width: 100%;
}
.invesment-content-card .box-description {
  padding-left: 100px;
  padding-right: 10px;
}
.invesment-content-card .box-description p {
  margin-top: 0px;
  color: #000000;
  font-size: 14px;
  font-family: gothambold;
  line-height: 1.55;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.invesment-content-card .box-description strong {
  color: #03d6af;
}
.invesment-content-card .down-block {
  display: flex;
  justify-content: center;
}
.invesment-content-card .down-block p {
  margin: 0;
  padding: 15px;
  padding-bottom: 5px;
  color: #000000;
  font-size: 12px;
  font-family: gotham;
  line-height: 1.55;
  font-weight: 400;
}
.invesment-content-card .down-block-btn {
  color: #6759ff;
  padding: 24px;
  font-size: 14px;
  font-family: gothambold;
  text-decoration: none;
  background-color: #f5f7ff;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.invesment-content-card .down-block-btn:hover {
  background-color: #6759ff;
  border-color: #6759ff;
  color: #ffffff;
}
.advantages {
  background-image: linear-gradient(to top, rgba(1, 0, 31, 0.9), #01001f);
}
.advantages-box h2 {
  text-align: center;
  margin-top: 0px;
  padding-top: 65px;
  text-transform: uppercase;
  color: #f5f7ff;
  font-size: 40px;
  font-family: gothambold;
  line-height: 1.55;
  font-weight: 600;
}
.advantages-box-content {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.advantages-box-content-card {
  margin-bottom: 40px;
  margin-left: 15px;
  margin-right: 15px;
  min-height: 390px;
  padding: 15px;
  max-width: 360px;
  box-shadow: 5px 5px 15px 5px rgba(9, 64, 148, 0.1);
}
.advantages-box-content-card-icon {
  width: 65px;
  height: 65px;
  display: flex;
  margin-left: 70px;
  margin-top: 80px;
}
.advantages-box-content-card-icon img {
  width: 100%;
}
.advantages-box-content-card h3 {
  color: #ffffff;
  font-size: 20px;
  font-family: gothambold;
  line-height: 1.55;
  text-transform: uppercase;
  margin-left: 70px;
}
.advantages-box-content-card p {
  color: #ffffff;
  font-size: 16px;
  font-family: gotham;
  line-height: 1.55;
  font-weight: 400;
  max-width: 240px;
  margin-left: 70px;
}
.investment {
  margin-bottom: 170px;
}
.investment h2 {
  text-align: center;
  color: #f5f7ff;
  font-size: 40px;
  font-family: gothambold;
  line-height: 1.55;
  font-weight: 600;
  margin-bottom: 60px;
}
.investment-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.investment-content-card {
  width: 335px;
  padding: 10px;
  position: relative;
}
.investment-content-card h1 {
  user-select: none;
  color: #0a128f;
  font-size: 200px;
  font-family: gothambold;
  line-height: 1.55;
  font-weight: 400;
  letter-spacing: 0.5px;
  opacity: 0.55;
  position: absolute;
  margin-top: 0px;
  top: -105px;
  left: -125px;
  margin-bottom: 0px;
}
.investment-content-card p {
  color: #f5f7ff;
  font-size: 16px;
  font-family: 'Gotham';
  line-height: 1.55;
}
.investment-content-card strong {
  font-family: gothambold;
}
.investment-content-card .font-title {
  font-family: gothambold;
}
.investment-content-card .wdth-max-btn {
  width: 75%;
  margin-top: 50px;
}
.count-box {
  display: flex;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.count-box-single {
  margin-left: 45px;
  margin-right: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.count-box-single-num {
  color: #4c55ff;
  font-size: 65px;
  font-family: gothambold;
}
.count-box-single p {
  margin: 0;
}
.count-box-single-hint {
  color: #ffffff;
  font-size: 16px;
  font-family: gotham;
  line-height: 1.55;
  font-weight: 400;
}
.view-all-box {
  max-width: 1366px;
  margin-top: 200px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.view-all-box-iconame p {
  color: #f5f7ff;
  font-size: 40px;
  font-family: gothambold;
  line-height: 1.55;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0;
}
.view-all-box-btn {
  display: flex;
}
.view-all-box-btn a {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #6759ff;
}
.view-all-box-btn a:hover {
  border: 1px solid #093dc7;
}
.last {
  background-image: linear-gradient(to bottom, rgba(1, 0, 31, 0.9), #01001f);
}
.last-mrginvesment {
  margin-top: 15px;
  max-width: 1180px;
  margin-bottom: 120px;
}
.last .form-balance {
  display: flex;
  justify-content: center;
}
.last .form-balance-box {
  margin-bottom: 100px;
  width: 640px;
  border: 1px solid #000;
  background-color: #01001f;
  border-width: 15px;
  border-color: #16144f;
  border-radius: 0px;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.5);
  padding: 60px 45px 70px;
}
.last .form-balance-box h2 {
  margin: 0;
  margin-bottom: 70px;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  font-family: gothambold;
}
.last .form-balance-box-inpt {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.last .form-balance-box-inpt p {
  color: #ffffff;
  font-family: gotham;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.55;
}
.last .form-balance-box-inpt select {
  position: relative;
  width: 85%;
  box-sizing: border-box;
  cursor: pointer;
  height: 60px;
  padding: 0 45px 0 20px;
  font-family: gotham;
  font-size: 16px;
  line-height: 1.33;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  color: #dbdbdb;
  border: 1px solid #0a128f;
}
.last .form-balance-box-inpt select:after {
  content: ' ';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
  border-top-color: #093dc7;
}
.last .form-balance-box-inpt-write {
  height: 56px;
  background-color: transparent;
  -webkit-appearance: none;
  color: #dbdbdb;
  border: 1px solid #0a128f;
  width: 533px;
  font-size: 15px;
  padding-left: 25px;
  font-family: gotham;
}
.last .form-balance-box .hint-form p {
  font-size: 18px;
  line-height: 1.35;
  color: #ffffff;
  font-family: gothambold;
}
.last .form-balance-box .box-form-btn {
  width: 40%;
  margin: auto;
  margin-top: 25px;
}
.last .form-balance-box .box-form-btn-brd {
  width: 100%;
  border: none;
}
.last .form-balance-box .box-form-btn-brd:hover {
  cursor: pointer;
}
.last .form-balance-box p {
  font-family: gotham;
  color: #fff;
}
.last .form-balance-box .mrg-lft-frm {
  margin-left: 40px;
}
.last .questions-box {
  display: flex;
  justify-content: center;
}
.last .questions-box-form {
  margin-bottom: 140px;
}
.last .questions-box-form h2 {
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  font-family: gothambold;
  line-height: 1.55;
  font-weight: 600;
}
.last .questions-box p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: gothambold;
}
.last .questions-box .question {
  flex-wrap: wrap;
  align-items: center;
  width: 660px;
  padding: 10px 0px 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #1a1857;
}
.last .questions-box .question .plus-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  text-align: center;
  height: 40px;
  border-radius: 180px;
  color: #80808f;
  font-size: 40px;
  transition: all 800ms ease;
}
.last .questions-box .question .plus-btn:hover {
  background-color: #093dc7;
  transition: 0.5s;
}
.last .questions-box .question .box-answer-hint {
  width: 100%;
  display: none;
}
.last .questions-box .question .box-answer-hint p {
  font-family: gotham;
  color: #ffffff;
  font-size: 14px;
}
.last-block-invesment {
  margin-left: 15px;
  margin-right: 15px;
}
.bg-foot {
  background-image: linear-gradient(to bottom, #01001f, rgba(1, 0, 31, 0.9));
}
.policy-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.policy-box p {
  color: #435073;
  font-size: 12px;
  font-family: 'Gotham';
  line-height: 1.55;
}
.policy-right {
  display: flex;
  justify-content: flex-end;
}
.policy-right a {
  text-decoration: none;
  color: #435073;
  font-size: 12px;
  font-family: gotham;
  line-height: 1.55;
  font-weight: 400;
  border-width: 0px;
  border-radius: 0px;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.foot-menu {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: -20px;
}
.navigation {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  position: fixed;
  right: 20px;
}
.navigation ul {
  padding: 0px;
  list-style-type: none;
}
.navigation ul li {
  position: relative;
  border: 1px solid #0063ef;
  width: 10px;
  height: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0);
  border-radius: 180px;
  margin-bottom: 25px;
}
.navigation ul li p {
  display: none;
  position: absolute;
  right: 32px;
  background: #0a128f;
  padding-left: 35px;
  padding-right: 35px;
  opacity: 0;
  top: -17px;
  padding-top: 8px;
  padding-bottom: 10px;
  font-size: 12px;
  color: #fff;
  font-family: gothambold;
  transition: 0.3s ease-in-out opacity, 0.3s ease transform, 0.3s ease visibility;
  white-space: nowrap;
}
.navigation ul li:hover p {
  display: block;
  opacity: 1;
}
.navigation ul a {
  transition: all 0.7s;
  position: relative;
}
.navigation .block-hint-nav {
  transform: translateX(-20%) translateY(-50%);
  top: 12%;
  background: #0a128f;
  line-height: 2.5;
  border-radius: 0px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Gotham';
  margin: 0px;
  right: 32px;
  /* opacity: 0; */
  padding: 0 18px;
  position: absolute;
  white-space: nowrap;
  transition: 0.3s ease-in-out opacity, 0.3s ease transform, 0.3s ease visibility;
}
.dropdown-formbalance {
  border: 1px solid #0a128f;
  overflow: hidden;
  height: 56px;
  background: url(../images/arrow_select2.png) no-repeat right rgba(1, 0, 31, 0);
  width: 558px;
  position: relative;
  color: #fff;
}
.dropdown-formbalance select {
  color: #fff;
  border-radius: 0;
  background: transparent;
  height: 56px;
  border: 0;
  font-size: 16px;
  line-height: 1;
  -webkit-appearance: none;
  width: 100%;
  padding: 10px;
  padding-left: 25px;
}
.dropdown-formbalance select:hover {
  cursor: pointer;
}
.dropdown-formbalance .checklist {
  color: #000;
}
.dropdown-formbalance:hover {
  cursor: pointer;
}
.statistics-3d {
  text-align: center;
  display: table;
  width: inherit;
  height: inherit;
  left: 20%;
  position: absolute;
  transform: translate3d(0px, 0px, 0px);
}
.statistics-3d p {
  user-select: none;
  color: #6978ff;
  font-size: 160px;
  margin: 0px;
  font-family: gothambold;
  line-height: 1.55;
  font-weight: 700;
  opacity: 0.1;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.first {
  background-image: linear-gradient(to bottom, rgba(5, 3, 82, 0.9), #01001f);
}
.content-card-invest {
  display: flex;
  justify-content: end;
}
.content-card-invest .block-card {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  background-color: #fff;
}
.content-card-invest .box-invest-program {
  display: flex;
}
.content-card-invest .box-invest-content p {
  color: #000000;
  font-size: 14px;
  font-family: gotham;
  line-height: 1.55;
  font-weight: 600;
}
.block-card-first {
  padding: 40px;
}
.block-card-first p {
  color: #000000;
  font-size: 16px;
  font-family: gothambold;
  line-height: 1.55;
  font-weight: 600;
  margin-left: 10px;
  max-width: 590px;
}
.block-card-first .box-invest-frame {
  max-width: 601px;
  height: 334px;
  background-color: #ddd;
}
.block-card-program {
  display: flex;
  flex-wrap: wrap;
}
.block-card-program a {
  margin-left: 65px;
  color: #f5f7ff;
  font-size: 12px;
  font-family: gothambold;
  text-decoration: none;
  line-height: 1.55;
  font-weight: 500;
  letter-spacing: 1.5px;
  background-color: #0063ef;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
}
.block-card-program a:hover {
  background-color: #093DC7;
  color: #ffffff;
}
.block-card-program .box-invest-logo {
  width: 64px;
  height: 64px;
}
.block-card-program .box-invest-logo img {
  width: 100%;
}
.block-card .tape-event {
  background-color: #edf3ff;
}
.block-card .tape-event-box {
  margin: 40px;
}
.block-card .tape-event .event-invest {
  margin-bottom: 30px;
}
.block-card .tape-event .event-invest-box {
  margin-top: 30px;
}
.block-card .tape-event .event-invest-box .clr-price {
  color: #3bc905;
}
.block-card .tape-event .event-invest h3 {
  color: #000000;
  font-size: 16px;
  font-family: gothambold;
  font-weight: 600;
}
.block-card .tape-event .event-invest-price {
  color: #0063ef;
  font-size: 20px;
  font-family: gothambold;
  font-weight: 700;
}
.block-card .tape-event .event-invest-hint {
  color: #000000;
  font-size: 20px;
  font-family: gotham;
  font-weight: bold;
}
.block-card .tape-event .event-invest p {
  margin: 10px 0px 10px 0px;
}
.block-card .tape-event .event-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
}
.block-card .tape-event .event-btn .btn-event {
  color: #f5f7ff;
  font-size: 12px;
  font-family: gothambold;
  text-decoration: none;
  line-height: 1.55;
  font-weight: 500;
  letter-spacing: 1.5px;
  background-color: #0063ef;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 10px 14px 10px;
  margin-bottom: 15px;
}
.block-card .tape-event .event-btn .btn-event:hover {
  background-color: #093DC7;
  color: #ffffff;
}
.block-card .tape-event .event-btn .btn-event-down {
  background-color: #ffffff;
  color: #0063ef;
}
.block-card .tape-event .network-logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.block-card .tape-event .network-logo-single {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-right: 8px;
}
.block-card .tape-event .network-logo-single img {
  width: 100%;
}
.block-card .tape-event .partners {
  margin-top: 50px;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.block-card .tape-event .partners p {
  margin: 2px;
  color: #000000;
  font-size: 14px;
  font-family: gothambold;
  line-height: 1.55;
  font-weight: 400;
}
#message {
  display: none;
  background: #F95D51;
  padding: 10px;
  text-align: center;
  max-width: 540px;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 20px;
}
#message p {
  color: #fff;
  font-size: 20px;
  padding-bottom: 28px;
}
.request-block {
  min-height: 630px;
  height: 100vh;
  background-color: #01001f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.request-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.request-box-logo {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.request-box-logo img {
  width: 100%;
}
.request-box-description {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.request-box-description h2 {
  color: #ffffff;
  font-size: 42px;
  font-family: gothambold;
  line-height: 1.55;
  font-weight: 600;
  margin: 5px;
}
.request-box-description p {
  color: #ffffff;
  font-size: 16px;
  font-family: gotham;
  line-height: 1.55;
  font-weight: 400;
  margin: 5px;
}
.request-box-description .frm-req {
  max-width: 250px;
  margin-top: 60px;
  align-self: center;
}
.policy-page {
  width: 100%;
  background-color: #01001f;
  min-height: 630px;
  height: 100%;
}
.policy-page .policy-text {
  width: 100%;
}
.policy-page .policy-text h2 {
  text-align: start;
  max-width: 490px;
}
.policy-page .policy-text .policy-page-quest {
  width: 100%;
  border-bottom: 0px;
  margin-left: 40px;
  margin-bottom: 10px;
}
.policy-page-main {
  max-width: 1160px;
  margin: auto;
}
.pagecard {
  padding-bottom: 50px;
  padding-top: 25px;
  background-color: #01001f;
}
.select-your-ico {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}
.select-your-ico h2 {
  margin-left: 120px;
  margin-right: 120px;
}
.select-your-ico .block-active-all {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.select-your-ico .single-active {
  color: #9ba5d1;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-family: gothambold;
  transition: all 0.3s ease;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: 3px solid #071647;
  width: 386px;
}
.select-your-ico .single-active:hover {
  cursor: pointer;
  color: #6759ff;
}
.select-your-ico .invesment-content {
  margin-top: 50px;
}
.block-activecontent {
  margin-top: 50px;
}
.mrg-btm-policy {
  margin-bottom: 70px;
}
.form-call-page {
  width: 100%;
  background-color: #01001f;
  min-height: 630px;
  height: 100%;
}
.form-call-page .cardformcontent {
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-call-page .cardformcontent .cardform {
  margin-top: 35px;
  padding: 70px 70px 85px;
  max-width: 620px;
  background-color: #fff;
  padding: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.form-call-page .cardformcontent .cardform-text {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.form-call-page .cardformcontent .cardform-text h2 {
  color: #000000;
  font-size: 44px;
  font-weight: 600;
  padding-top: 20px;
  font-family: gothambold;
  max-width: 550px;
  transition-delay: 0s;
  margin: 5px;
}
.form-call-page .cardformcontent .cardform-text p {
  margin-top: 20px;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  font-family: gotham;
  margin: 5px;
}
.form-call-page .cardformcontent .cardform-blockinpt {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.form-call-page .cardformcontent .cardform-blockinpt input {
  width: 85%;
  border: 1px solid #e2e4eb;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  padding: 26px 20px 10px 20px;
  background-color: #ffffff;
  outline: none;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.33;
  padding-left: 0px;
}
.form-call-page .cardformcontent .cardform-btn {
  border: none;
  margin-top: 30px;
  margin-bottom: 10px;
}
.form-call-page .cardformcontent .cardform-policyhint {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 370px;
}
.form-call-page .cardformcontent .cardform-policyhint p {
  font-size: 14px;
  line-height: 20px;
  color: #576181;
  font-family: gotham;
}
.form-call-page .cardformcontent .cardform-policyhint a {
  color: #0051ff;
  margin-left: 5px;
  text-decoration: none;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #999;
  font-size: 16px;
  line-height: 1.33;
  font-family: gotham;
}
@media (max-width: 1800px) {
  .container {
    max-width: 1200px;
  }
  .statistics-3d {
    display: none;
    position: absolute;
    transform: translate3d(0px, 0px, 0px);
  }
  .statistics-3d p {
    color: #6978ff;
    font-size: 120px;
    margin: 0px;
  }
  .dropdown-formbalance {
    width: 84%;
  }
  .last .form-balance-box-inpt-write {
    width: 80%;
  }
}
@media (max-width: 1300px) {
  .invesment-content-card {
    max-width: 310px;
  }
  .invesment-content-card .button {
    padding: 5px;
  }
  .menu-main .box-trend {
    margin-left: 20px;
  }
  .menu-main .menu-main-box a {
    margin-left: 10px;
    margin-right: 10px;
  }
  .dropdown-formbalance {
    width: 80%;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 1100px) {
  .view-all-box {
    max-width: 1056px;
  }
  .menu .button {
    max-width: 140px;
    padding: 15px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 180px;
  }
  .menu .menu-main {
    flex-wrap: wrap;
    justify-content: center;
  }
  .count-box-single {
    margin-bottom: 20px;
  }
  .container {
    padding: 0px;
  }
  .invesment {
    padding: 0 15px;
  }
  .invesment-content-verticaltext {
    width: 100%;
    color: #f5f7ff;
    font-size: 40px;
    font-family: gotham;
    line-height: 1.55;
    font-weight: 600;
    letter-spacing: 0.5px;
    transform: rotate(0deg);
    margin: 0;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 19px;
  }
  .invesment-content-card {
    max-width: 300px;
  }
  .col-lg-4 {
    max-width: 600px;
    transform: translateX(0%);
  }
  .investment-content-card h1 {
    left: -60px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .tape-event {
    width: 100%;
  }
  .block-card-first {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .policy-page .policy-text .policy-page-quest {
    margin-left: 0px;
  }
}
@media (max-width: 700px) {
  .count-box {
    width: 100%;
    flex-wrap: wrap;
  }
  .box-trend {
    display: none!important;
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
  }
  .menu .menu-main {
    flex-wrap: wrap;
  }
  .container {
    padding: 0px;
  }
  .advantages .anim-left {
    font-size: 25px;
  }
  .advantages .advantages-box .advantages-box-content-card {
    min-height: 0px;
  }
  .advantages .advantages-box .advantages-box-content-card .advantages-box-content-card-icon {
    margin: auto;
  }
  .advantages .advantages-box .advantages-box-content-card h3 {
    margin: auto;
    text-align: center;
  }
  .advantages .advantages-box .advantages-box-content-card p {
    margin: auto;
    text-align: center;
  }
  .view-all-box {
    margin-top: 70px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .view-all-box-iconame p {
    font-size: 23px;
  }
  .form-balance {
    flex-wrap: wrap;
    width: 100%;
  }
  .form-balance .form-balance-box {
    padding: 0px;
    width: 100%;
  }
  .form-balance .form-balance-box h2 {
    margin-top: 25px;
    font-size: 25px;
    margin-bottom: 35px;
  }
  .form-balance .form-balance-box .animate-form-top {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
  }
  .form-balance .form-balance-box .animate-form-top .box-form-btn {
    width: 100%;
    margin-bottom: 5px;
  }
  .questions-box .questions-box-form h2 {
    font-size: 25px;
  }
  .questions-box .questions-box-form .question {
    width: 100%;
  }
  .navigation {
    display: none;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 500px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .invesment h2 {
    font-size: 25px;
  }
  .invesment-content-verticaltext {
    width: 100%;
  }
  .invesment .invesment-content-card {
    max-width: 290px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .invesment .invesment-content-card .down-block {
    flex-direction: column;
  }
  .col-lg-4 {
    max-width: 600px;
    transform: translateX(0%);
  }
  .menu .button {
    display: none;
  }
  .policy-box {
    margin-left: 5px;
    margin-right: 5px;
  }
  .select-your-ico {
    text-align: center;
    width: 100%;
  }
  .select-your-ico h2 {
    margin: 5px;
  }
  .block-card-first {
    padding: 0px;
    padding-bottom: 25px;
    padding-top: 25px;
  }
}
