
@font-face {
    font-family: gotham; /* Гарнитура шрифта */
    src: url(../fonts/GothaProReg.otf); /* Путь к файлу со шрифтом */
   }

@font-face {
font-family: gothambold; /* Гарнитура шрифта */
src: url(../fonts/GothaProBol.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: gothamnarbold; /* Гарнитура шрифта */
    src: url(../fonts/GothaProNarBol.otf); /* Путь к файлу со шрифтом */
    }
.container{
    // width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 15px;

}
.col-lg-6{
    // width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}  
.col-lg-4{
    // width: 600px;
    padding-left: 15px;
    padding-right: 15px;
}
.telegram{
    &:before{
        content: "";
        background-image: url(../images/telegram.svg);
        position: absolute;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: contain;
        left: -25px;
        top: -5px;
    }
}
.logined{
    &:before{
        content: "";
        background-image: url(../images/logged.svg);
        position: absolute;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: contain;
        left: -25px;
        top: -5px;
    }
}
.button{
    padding: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 200px;
    color: #f5f7ff;
    font-size: 12px;
    font-family: gothambold;
    background-color: #6759ff;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    
        color: #f5f7ff;
        font-size: 12px;
        font-family: gothambold;
        line-height: 1.55;
        font-weight: 500;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        text-decoration: none;

    &:hover{
        
        background-color: #093DC7;
        color: #ffffff!important;
    }

}
// ------------------animation--------------------------
.animate-form-top{
    -moz-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    -webkit-transition: all 800ms ease;
    transition: all 800ms ease;
    opacity: 0;
    transform: translateY(+30%);
}
.anim-topmenu{
    -moz-transition: all 1200ms ease;
    -o-transition: all 1200ms ease;
    -webkit-transition: all 1200ms ease;
    transition: all 1200ms ease;
    opacity: 0;
    transform: translateY(-100%);
}
.anim-left,.invest-anim,.content-anim,.count-anim,.anim-left-ico{
    -moz-transition: all 1200ms ease;
    -o-transition: all 1200ms ease;
    -webkit-transition: all 1200ms ease;
    transition: all 1200ms ease;
    opacity: 0;
    transform: translateX(-10%);
}
.anim-right-btn, .anim-right-btn-ico{
    -moz-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    transition: all 900ms ease;
    opacity: 0;
    transform: translateX(+5%);
}
.anim-question{
    -moz-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    -webkit-transition: all 800ms ease;
    transition: all 800ms ease;
    opacity: 0;
    transform: translateY(+70%);
}
.anim-menu-foot{
    -moz-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    -webkit-transition: all 1000ms ease;
    transition: all 1000ms ease;
    opacity: 0;
    transform: translateY(+70%);
}


// --------------------------------------------

.none-margin{
    margin: 0;
}
.main-block{
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(5, 3, 82, 1), #01001f);
    padding-top: 25px
}
.menu{

    
    border-top: 1px solid #0a128f;
    border-bottom: 1px solid #0a128f;


    &-container{
        max-width: 1755px;
    }

    &-main{
        min-height: 60px;
        display: flex;
        justify-content: space-between;
        .main-logo{
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                text-decoration: none;
                text-transform: uppercase;
                color: #f5f7ff;
                font-size: 16px;
                font-family: gothambold;
                line-height: 1.55;
                font-weight: 700;
                letter-spacing: 2px;
                border-width: 0px;
                border-radius: 0px;
                background-position: center center;
                border-color: transparent;
                border-style: none;
                transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
            }
        }
        .box-trend{
            display: flex;
            align-items: center;
            margin-left: 95px;
            p{
                color: rgb(245, 247, 255);
                font-size: 12px;
                margin-left: 5px;
                margin-right: 5px;
                color: #f5f7ff;
                font-size: 12px;
                font-family: gothambold;
                line-height: 1.55;
                font-weight: 500;
                background-position: center center;
                border-color: transparent;
                border-style: solid;
            }
            strong{
                padding-left: 5px;
                color: rgb(3, 214, 175);
            }
        }
        &-box{

            display: flex;
            align-items: center;
            a{
                
                color: #f5f7ff;
                font-size: 12px;
                font-family: gothambold;
                line-height: 1.55;
                font-weight: 500;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                text-decoration: none;
                margin-left: 40px;
                margin-right: 30px;
                &:hover{
                    color: #093dc7;
                    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;  
                }

                position: relative;
                padding-left: 20px;
            }


        }
        .main{
            &-blockleft{
                justify-content: space-around;
            }
            &-blockright{
                justify-content: space-evenly;    
            }
        }
    }
}
.invesment{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    h2{
        margin-top: 50px;
        color: #f5f7ff;
        font-size: 40px;
        font-family: gothambold;
        line-height: 1.55;
        font-weight: 600;
        letter-spacing: 0.5px;
        background-position: center center;
        border-color: transparent;
        border-style: solid;  
    }
    &-content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        max-width: 1160px;
        &-verticaltext{
            color: #f5f7ff;
            font-size: 40px;
            font-family: 'Gotham';
            line-height: 1.55;
            font-weight: 600;
            letter-spacing: 0.5px;
            transform: rotate(270deg);
            margin: 0;
            margin-right: -77px;
            margin-left: -145px;
            margin-top: -15px;
        }

        &-card{
            background-color: #fff;
            display: flex;
            width: 360px;
            flex-direction: column;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 25px;
            &-title{
                font-family: gothambold;
                padding-left: 20px;
                font-size: 15px;
                margin-top: 10px;
                line-height: 1.55;
                font-weight: 600;

            }
            .logo-title{
                display: flex;
                margin-top: 40px;
                padding-left: 30px;
                &-box{
                    width: 50px;
                    height: 50px;
                    img{
                        width: 100%;
                    }
                }
            }
            .box-description{
                padding-left: 100px;
                padding-right: 10px;
                p{
                    margin-top: 0px;
                    color: #000000;
                    font-size: 14px;
                    font-family: gothambold;
                    line-height: 1.55;
                    font-weight: 400;
                    background-position: center center;
                    border-color: transparent;
                    border-style: solid;
                } 
                strong{
                    color: #03d6af;
                }

            }
            .down-block{
                display: flex;
                justify-content: center;
                p{
                    margin: 0;
                    padding: 15px;
                    padding-bottom: 5px;
                    color: #000000;
                    font-size: 12px;
                    font-family: gotham;
                    line-height: 1.55;
                    font-weight: 400;
                }
                &-btn{
                    background-color: #f5f7ff;
                    color: #6759ff;
                    padding: 24px;
                    font-size: 14px;
                    font-family: gothambold;
                    text-decoration: none;
                    background-color: #f5f7ff;
                    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
                    &:hover{
                        background-color: #6759ff;
                        border-color: #6759ff;
                        color: #ffffff;
                    }
                    
                }
            }
        }
    }
}
.advantages{
    background-image: linear-gradient(to top, rgba(1,0,31,0.9), rgba(1,0,31,1));
    &-box{
        h2{
            text-align: center;
            margin-top: 0px;
            padding-top: 65px;
            text-transform: uppercase;
            color: #f5f7ff;
            font-size: 40px;
            font-family: gothambold;
            line-height: 1.55;
            font-weight: 600;
        }
        &-content{
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            &-card{
                margin-bottom: 40px;
                box-shadow: 5px 5px 15px 5px rgba(9, 64, 148, 0.1);
                margin-left: 15px;
                margin-right: 15px;

                &-icon{
                    width: 65px;
                    height: 65px;
                    display: flex;
                    margin-left: 70px;
                    margin-top: 80px;
                    img{
                        width: 100%;
                    }
                }
                min-height: 390px;
                padding: 15px;
                max-width: 360px;
                box-shadow: 5px 5px 15px 5px rgba(9,64,148,0.1);
                h3{
                    color: #ffffff;
                    font-size: 20px;
                    font-family: gothambold;
                    line-height: 1.55;
                    text-transform: uppercase;
                    margin-left: 70px;
                }
                p{
                    color: #ffffff;
                    font-size: 16px;
                    font-family: gotham;
                    line-height: 1.55;
                    font-weight: 400;
                    max-width: 240px;
                    margin-left: 70px;

                }

            }
        }
        
    }
}
.investment{
    margin-bottom: 170px;
    h2{
        text-align: center;
        color: #f5f7ff;
        font-size: 40px;
        font-family: gothambold;
        line-height: 1.55;
        font-weight: 600;
        margin-bottom: 60px;
    }
    &-content{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        &-card{
            width: 335px;
            padding: 10px;
            position: relative;
            h1{
                user-select: none;
                color: #0a128f;
                font-size: 200px;
                font-family: gothambold;
                line-height: 1.55;
                font-weight: 400;
                letter-spacing: 0.5px;
                opacity: 0.55;
                position: absolute;
                margin-top: 0px;
                top: -105px;
                left: -125px;
                margin-bottom: 0px;
            }
            p{
                color: #f5f7ff;
                font-size: 16px;
                font-family: 'Gotham';
                line-height: 1.55;
            }
            strong{
                font-family: gothambold; 
            }
            .font-title{
                font-family: gothambold; 
            }
            .wdth-max-btn{
                width: 75%;
                margin-top: 50px;
            }
        }
    }
}
.count-box{
    
    display: flex;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    &-single{
        margin-left: 45px;
        margin-right: 45px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &-num{
            color: #4c55ff;
            font-size: 65px;
            font-family: gothambold;
        }
        p{
            margin: 0;
        }
        &-hint{
            color: #ffffff;
            font-size: 16px;
            font-family: gotham;
            line-height: 1.55;
            font-weight: 400;
        }
    }
}
.view-all-box{
    max-width: 1366px;
    margin-top: 200px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    &-iconame{
        p{
            color: #f5f7ff;
            font-size: 40px;
            font-family: gothambold;
            line-height: 1.55;
            font-weight: 600;
            letter-spacing: 0.5px;
            margin: 0;
        }
    }
    &-btn{
        display: flex;
        a{
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid #6759ff;
            
            &:hover{
                border: 1px solid #093dc7; 
            }
        }

    }
}
.last{
    background-image: linear-gradient(to bottom, rgba(1,0,31,0.9), rgba(1,0,31,1));
    &-mrginvesment{
        margin-top: 15px;
        max-width: 1180px;
        margin-bottom: 120px;
    }
    .form-balance{
        display: flex;
        justify-content: center;
        &-box{
            margin-bottom: 100px;
            width: 640px;
            border: 1px solid #000;
            background-color: #01001f;
            border-width: 15px;
            border-color: #16144f;
            border-radius: 0px;
            box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.5);
            padding: 60px 45px 70px;
            h2{
                margin: 0;
                margin-bottom: 70px;
                text-align: center;
                color: #ffffff;
                font-size: 40px;
                font-family: gothambold;
            }
            &-inpt{
                display: flex;
                flex-wrap: wrap;
                justify-content: start;
                p{
                color: #ffffff;
                font-family: gotham;
                font-weight: 300;
                font-size: 18px;
                line-height: 1.55; 
                }
                select{
                    position: relative;
                    width: 85%;
                    box-sizing: border-box;
                    cursor: pointer;
                    height: 60px;
                    padding: 0 45px 0 20px;
                    font-family: gotham;
                    font-size: 16px;
                    line-height: 1.33;
                    outline: 0;
                    border: 0;
                    border-radius: 0;
                    background: transparent;
                    -webkit-appearance: none;
                    appearance: none;
                    -moz-appearance: none;
                    color: #dbdbdb;
                    border: 1px solid #0a128f;
                    &:after{
                        content: ' ';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 6px 5px 0 5px;
                        border-color: #000 transparent transparent transparent;
                        position: absolute;
                        right: 20px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        pointer-events: none;
                        border-top-color: #093dc7;
                    }
                }
                &-write{

                    height: 56px;
                    background-color: transparent;
                    -webkit-appearance: none;
                    color: #dbdbdb;
                    border: 1px solid #0a128f;
                    width: 533px;
                    font-size: 15px;
                    padding-left: 25px;
                    font-family: gotham;
                }
            }
            .hint-form{
                p{
                    font-size: 18px;
                    line-height: 1.35;
                    color: #ffffff;
                    font-family: gothambold;
                }
            }
            .box-form-btn{
                width: 40%;
                margin: auto;
                margin-top: 25px;
                &-brd{
                    width: 100%;
                    border: none;
                    &:hover{
                        cursor: pointer;
                    }
                }
            
            }
            p{
                font-family: gotham;
                color: #fff;
            }
            .mrg-lft-frm{
                margin-left: 40px;
            }
        }
    }
    .questions-box{
        display: flex;
        justify-content: center;
        &-form{
            margin-bottom: 140px;
            h2{
                text-align: center;
                color: #ffffff;
                font-size: 36px;
                font-family: gothambold;
                line-height: 1.55;
                font-weight: 600;
            }
        }
        p{
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
            font-family: gothambold;
        }
        .question{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 660px;
            padding: 10px 0px 10px 0;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #1a1857;
            
            
            .plus-btn{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                text-align: center;
                height: 40px;
                border-radius: 180px;
                color: #80808f;
                font-size: 40px;
                transition: all 800ms ease;
                &:hover{
                    background-color: #093dc7;
                    transition: 0.5s; 
                    // transform: rotate(45deg);
                }
            }
            .box-answer-hint{
                width: 100%;
                display: none;
                p{
                    font-family: gotham;
                    color: #ffffff;
                    font-size: 14px;
                }

            }
        }

    }
}
.last-block-invesment{
    margin-left: 15px;
    margin-right: 15px;
}
.bg-foot{
    background-image: linear-gradient(to bottom, rgba(1,0,31,1), rgba(1,0,31,0.9));
}
.policy-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    p{
        color: #435073;
    font-size: 12px;
    font-family: 'Gotham';
    line-height: 1.55;
    }
}
.policy-right{
    display: flex;
    justify-content: flex-end;

    a{
        text-decoration: none;
        color: #435073;
        font-size: 12px;
        font-family: gotham;
        line-height: 1.55;
        font-weight: 400;
        border-width: 0px;
        border-radius: 0px;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }
}
.foot-menu{
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: -20px;
}
.navigation{
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    position: fixed;
    right: 20px;
    ul{
        padding: 0px;
        list-style-type: none;
        li{
            position: relative;
            border: 1px solid #0063ef;
            width: 10px;
            height: 10px;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0);
            border-radius: 180px;
            margin-bottom: 25px;
            p{
                display: none;
                position: absolute;
                right: 32px;
                background: #0a128f;
                padding-left: 35px;
                padding-right: 35px;
                opacity: 0;
                top: -17px;
                padding-top: 8px;
                padding-bottom: 10px;
                font-size: 12px;
                color: #fff;
                font-family: gothambold;
                transition: 0.3s ease-in-out opacity, 0.3s ease transform, 0.3s ease visibility;
                white-space: nowrap;
            }
            &:hover{
                p{
                    display: block;
                    opacity: 1;
                }
            }
        }
        a{
            transition: all 0.7s;
            position: relative;

        }
    }
    .block-hint-nav{
        transform: translateX(-20%) translateY(-50%);
        top: 12%;
        background: #0a128f;
        line-height: 2.5;
        border-radius: 0px;
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        font-family: 'Gotham';
        margin: 0px;
        right: 32px;
        /* opacity: 0; */
        padding: 0 18px;
        position: absolute;
        white-space: nowrap;
        transition: .3s ease-in-out opacity,.3s ease transform,.3s ease visibility;
    }

}


.dropdown-formbalance{
        border: 1px solid #0a128f;
        overflow: hidden;
        height: 56px;
        background: url(../images/arrow_select2.png) no-repeat right rgba(1, 0, 31, 0);
        width: 558px;
        position: relative;
        color: #fff;
   select{

        color: #fff;
        border-radius: 0;
        background: transparent;
        height: 56px;
        border: 0;
        font-size: 16px;
        line-height: 1;
        -webkit-appearance: none;
        width: 100%;
        padding: 10px;
        padding-left: 25px;
        &:hover{
            cursor: pointer;
        }
   }
   .checklist{
       color: #000;
   }
   &:hover{
       cursor: pointer;
   }
}
.statistics-3d{
    text-align: center;
    display: table;
    width: inherit;
    height: inherit;
    left: 20%;
    position: absolute;
    transform: translate3d(0px, 0px, 0px);
    p{
        user-select: none;
        color: #6978ff;
        font-size: 160px;
        margin: 0px;
        font-family: gothambold;
        line-height: 1.55;
        font-weight: 700;
        opacity: 0.1;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }
}
.first{
    background-image: linear-gradient(to bottom, rgba(5,3,82,0.9), rgba(1,0,31,1));
}


// ------------------------page_card----------------------------

.content-card-invest{
    display: flex;
    justify-content: end;
    .block-card{
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        background-color: #fff;
        
    }
    .box-invest{
        &-program{

            display: flex;
        }
        &-content{
            p{
                
                color: #000000;
                font-size: 14px;
                font-family: gotham;
                line-height: 1.55;
                font-weight: 600;
            }
        }
    }
}

.block-card{
    &-first{
       
        padding: 40px;
        p{
            color: #000000;
            font-size: 16px;
            font-family: gothambold;
            line-height: 1.55;
            font-weight: 600;
            margin-left: 10px;
            max-width: 590px;

        }
        .box-invest-frame{
            max-width: 601px;
            height: 334px;
            background-color: #ddd;
        }

    }
    &-program{
        display: flex;
        flex-wrap: wrap;
        a{

            margin-left: 65px;
            color: #f5f7ff;
            font-size: 12px;
            font-family: gothambold;
            text-decoration: none;
            line-height: 1.55;
            font-weight: 500;
            letter-spacing: 1.5px;
            background-color: #0063ef;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
            text-transform: uppercase;
            padding-left: 30px;
            padding-right: 30px;
            display: flex;
            align-items: center;
            &:hover{
                background-color: #093DC7;
                color: #ffffff;
            }
        }
        .box-invest-logo{
            width: 64px;
            height: 64px;
        img{
            width: 100%;
        }
        }

    }
    .tape-event{
        background-color: #edf3ff;
        &-box{
            margin: 40px;
        }
        .event-invest{
            margin-bottom: 30px;
            &-box{
                margin-top: 30px;
                .clr-price{
                    color: rgb(59, 201, 5);
                }
            }
            h3{
                color: #000000;
                font-size: 16px;
                font-family: gothambold;
                font-weight: 600;
            }
            &-price{
                color: rgb(0, 99, 239);
                font-size: 20px;
                font-family: gothambold;
                font-weight: 700; 

            }
            &-hint{
                color: #000000;
                font-size: 20px;
                font-family: gotham;
                font-weight: bold;
            }
            p{
                margin: 10px 0px 10px 0px; 
            }
        }
        .event-btn{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 10px;
            .btn-event{
                color: #f5f7ff;
                font-size: 12px;
                font-family: gothambold;
                text-decoration: none;
                line-height: 1.55;
                font-weight: 500;
                letter-spacing: 1.5px;
                background-color: #0063ef;
                transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
                text-transform: uppercase;
                text-align: center;
                padding: 14px 10px 14px 10px;
                margin-bottom: 15px;
                &:hover{
                    background-color: #093DC7;
                    color: #ffffff;
                }
                &-down{
                    background-color: #ffffff;
                    color: #0063ef;

                }
            }
        }
        .network-logo{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            &-single{
                width: 20px;
                height: 20px;
                margin-left: 8px;
                margin-right: 8px;
                img{
                    width: 100%;
                }
            }
        }
        .partners{
            margin-top: 50px;
            display: flex;
            justify-content: end;
            flex-direction: column;
            p{
                margin: 2px;
                color: #000000;
                font-size: 14px;
                font-family: gothambold;
                line-height: 1.55;
                font-weight: 400;
            }
        }

    }
}
#message{
    display: none;
    background: #F95D51;
    padding: 10px;
    text-align: center;
    max-width: 540px;
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
    p{
        color: #fff;
        font-size: 20px;
        padding-bottom: 28px;
    }

}
.request-block{
    min-height: 630px;
    height: 100vh;
    background-color: #01001f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &-logo{
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        img{
            width: 100%;
        }
    }
    &-description{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        
        h2{
            color: #ffffff;
            font-size: 42px;
            font-family: gothambold;
            line-height: 1.55;
            font-weight: 600;
            margin: 5px;
        }
        p{
            color: #ffffff;
            font-size: 16px;
            font-family: gotham;
            line-height: 1.55;
            font-weight: 400;
            margin: 5px;
        }
        .frm-req{
            max-width: 250px;
            margin-top: 60px;
            align-self: center;
        }

    }

}
.policy-page{
    width: 100%;
    background-color: #01001f;
        min-height: 630px;
        height: 100%;
        .policy-text{
            width: 100%;
            h2{
                text-align: start;
                max-width: 490px;
            }
            .policy-page-quest{
                width: 100%;
                border-bottom: 0px;
                margin-left: 40px;
                margin-bottom: 10px;
            }

        }
        &-main{
            max-width: 1160px;
            margin: auto;
        }   
}
.pagecard{
    padding-bottom: 50px;
    padding-top: 25px;
    background-color: #01001f;
}
.select-your-ico{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    h2{
        margin-left: 120px;
        margin-right: 120px;
    }
    .block-active-all{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .single-active{
        color: #9ba5d1;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.5px;
        font-family: gothambold;
        transition: all 0.3s ease;
        padding-bottom: 5px;
        text-align: center;
        border-bottom: 3px solid #071647;
        width: 386px;
        &:hover{
            cursor: pointer;
            color: #6759ff;
        }
    }
    .invesment-content{
        margin-top: 50px;
    }
}
.block-activecontent{
    margin-top: 50px;
}
.mrg-btm-policy{
    margin-bottom: 70px;
}
.form-call-page{
    width: 100%;
    background-color: #01001f;
    min-height: 630px;
    height: 100%;
    .cardformcontent{
        margin-bottom: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        .cardform{
            margin-top: 35px;
            padding: 70px 70px 85px;
            max-width: 620px;
            background-color: #fff;
            padding: 70px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        
            &-text{
                text-align: center;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                h2{
                    
                    color: rgb(0, 0, 0);
                    font-size: 44px;
                    font-weight: 600;
                    padding-top: 20px;
                    font-family: gothambold;
                    max-width: 550px;
                    transition-delay: 0s;
                    margin: 5px;
                }
                p{
                    margin-top: 20px;
                    color: rgb(0, 0, 0);
                    font-size: 14px;
                    font-weight: 300;
                    font-family: gotham;
                    margin: 5px;
                }
            }
            &-blockinpt{
                margin-top: 70px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                input{
                    width: 85%;
                    border: 1px solid #e2e4eb;
                    border-top: 0px;
                    border-right: 0px;
                    border-left: 0px;
                    padding: 26px 20px 10px 20px;
                    background-color: #ffffff;
                    outline: none;
                    margin-bottom: 20px;
                    font-size: 16px;
                    line-height: 1.33;
                    padding-left: 0px;
                }
            }
            &-btn{
                border: none;
                margin-top: 30px;
                margin-bottom: 10px;
            }
            &-policyhint{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                max-width: 370px;
                p{
                    font-size: 14px;
                    line-height: 20px;
                    color: #576181;
                    font-family: gotham;
                }
                a{
                    color: #0051ff;
                    margin-left: 5px;
                    text-decoration: none;
                }
            }
        }
    }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999;
    font-size: 16px;
    line-height: 1.33;
    font-family: gotham;
  }



// -------------------------------------------
@media (max-width: 1800px) {

    .container{
         max-width: 1200px;
        }
        .statistics-3d{
            display: none;
            position: absolute;
            transform: translate3d(0px, 0px, 0px);
            p{
                color: #6978ff;
                font-size: 120px;
                margin: 0px;
            }
        }
        .dropdown-formbalance{
            width: 84%;
        }
        .last{
            .form-balance-box-inpt-write{
                width: 80%;
            }
        }


  }
  @media (max-width: 1300px) {
    .invesment{
        &-content{
            &-card{
                max-width: 310px;
                .button{
                    padding: 5px;
                }
            }
        }
    }
    .menu-main{
        .box-trend{
            margin-left: 20px;     
        }
        .menu-main-box a{
            margin-left: 10px;
            margin-right: 10px;
        }
    } 
    .dropdown-formbalance{
        width: 80%; 
    }
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }


  }

  @media (max-width: 1100px) {

      .view-all-box{
        max-width: 1056px;
      }
      .menu{
        .button{
            max-width: 140px;
            padding: 15px;
            padding-left: 5px;
            padding-right: 5px;
            min-width: 180px;
        }

        .menu-main{
            flex-wrap: wrap;
            justify-content: center;
        }
      }
      .count-box{
          &-single{
            margin-bottom: 20px;
          }
      }
      .container{
          padding: 0px;
      }
      .invesment{
          padding: 0 15px;
          &-content{

              &-verticaltext{
                width: 100%;
                color: #f5f7ff;
                font-size: 40px;
                font-family: gotham;
                line-height: 1.55;
                font-weight: 600;
                letter-spacing: 0.5px;
                transform: rotate(0deg);
                margin: 0;
                margin-right: 15px;
                margin-left: 15px;
                margin-top: 0px;
                margin-bottom: 19px;
              }
              &-card{
                max-width: 300px;
              }
          }
      }
      .col-lg-4{
        max-width: 600px;
        transform: translateX(0%);
    }
    .investment-content-card{
        h1{
            left: -60px;
        }
    } 
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .tape-event{
        width: 100%;
    }
    .block-card-first{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .policy-page .policy-text .policy-page-quest{
            margin-left: 0px;
        }


  }


@media (max-width: 700px) {
    .count-box{
        width: 100%;
        flex-wrap: wrap;
    }
    .box-trend{
        display: none!important;
    }
    .menu{
        display: flex;
        flex-wrap: wrap;  
        .menu-main{
            flex-wrap: wrap;
        }
    }

    .container{
        padding: 0px;;
    }
    .advantages{
        .anim-left{
            font-size: 25px;
        }
        .advantages-box{
            .advantages-box-content-card{
                min-height: 0px;
                .advantages-box-content-card-icon{
                    margin: auto;
                }
                h3{
                    margin: auto;
                    text-align: center;
                }
                p{
                    margin: auto;
                    text-align: center;
                }
            }



        }

    }

    .view-all-box{
    margin-top: 70px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    }

    .view-all-box-iconame{
        p{
            font-size: 23px;
        }
    }
    .form-balance{
        flex-wrap: wrap;
        width: 100%;
        .form-balance-box{
            padding: 0px;
            width: 100%;
            h2{
                margin-top: 25px;
                font-size: 25px;
                margin-bottom: 35px;
            }
            .animate-form-top{
                display: flex;
                flex-wrap: wrap;
                padding-left: 15px;
                padding-right: 15px;
                .box-form-btn{
                    width: 100%;
                    margin-bottom: 5px; 
                }

            }
        }
    }
    .questions-box{
        .questions-box-form{
            h2{
                font-size: 25px;
            }
                .question{
                    width: 100%;
                }
        }

    }
    .navigation{
        display: none;
    }
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }


}
@media (max-width: 500px) {
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .invesment{
        h2{
            font-size: 25px;
        }
        &-content{
            &-verticaltext{
                width: 100%;
            }
        }
        .invesment-content-card{
            max-width: 290px;
            margin-left: 0px;
            margin-right: 0px;
            width: 100%;
            .down-block{
                flex-direction: column;
            }
        }
    }
    .col-lg-4{
        max-width: 600px;
        transform: translateX(0%);
    }
    .menu{
        .button{
            display: none;
        }
    }
    .policy-box{
        margin-left: 5px;
        margin-right: 5px;
    }
    .select-your-ico{
        text-align: center;
        h2{
            margin: 5px;
            
        }
        width: 100%;
    }
    .block-card-first{
        padding: 0px;
        padding-bottom: 25px;
        padding-top: 25px;
    }

}




